[2019-11-23 17:09] ginty opened #1 "Logger"
Add a logger API in Rust and expose via a Python API.
Doesn't have to exactly emulate the O1 logger, but should have all the usual features - log levels, highlight warnings and errors, output to console and file, etc.

[2019-11-27 15:26] ginty opened #3 "Add CLI File handler"
All validating of file arguments and decomposing of .list arguments should be done by the Rust CLI.

It should expose an API to python for it to retreive the files, something like:

[code]

[2019-11-27 15:33] ginty opened #4 "Work out how to pass CLI arguments between Rust domains"
The Rust process that executes the CLI and boots Python is separate from the Rust backend that Python then imports.

There needs to be a way for the frontend CLI process to pass command line argument information (e.g. target override, file list, etc.) to the backend Rust process.
This would likely be through the file system, but open to ideas.

Key is making sure that the saved is safely expired/d

[2019-11-27 16:01] ginty opened #5 "Decide on how errors should be generated and handled in Rust code"
Need to decide early on a strategy for Rust error handling so that it can be used throughout the project.

[2019-11-27 16:03] ginty opened #6 "Create Rust data structures for registers"
This should be based on an existing spec rather than create our own (which we will then be free to extend as required).
IP-XACT?

[2019-11-27 16:03] ginty opened #7 "Create Rust data structures for Pins"
Is there a standard for this we could use?

[2019-11-27 16:08] ginty commented on #5
Some relevant and recent discussion - https://www.reddit.com/r/rust/comments/bp47al/what_helper_crate_for_error_handling_and_why/

[2019-11-27 16:09] ginty opened #8 "Decide on Python test strategy/framework"

[2019-11-28 17:28] #4 closed

[2019-11-29 15:23] ginty commented on #8
pytest seems to be the equivalent of Ruby's rspec, so let's just go with that.
I tried it quikly and it seems fine and easy to find tuts, etc.

[2019-11-29 15:23] #8 closed

[2019-11-29 15:25] ginty opened #9 "Add block loading mechanism"

[2019-12-01 01:19] coreyeng opened #11 "Set up some basic regression testing for the core."
* Experiment with regression testing the core.
* Setup some basic tests,
* Add CLI components (if necessary),
* CI in Github.
* Add any needed docs.

Basically, be able to run regression tests, but the actual coverage will be minimal at the outset.

[2019-12-01 20:21] coreyeng opened #12 "History file on Windows"
Figure out an alternative or homebrewed solution for the history file on Windows.

Remove pyreadline if its not relevant after completion.

[2019-12-01 20:23] coreyeng opened #13 ".pyd, .dll, and .so resolution for Windows."
Figure out why Python isn't accepting the resulting `.dll`, but does accept a `.pyd`. Figure out how to link to the library, like the `.so` does.

[2019-12-05 17:49] info-rchitect opened #15 "Enable test node object such that test node cloning is simple"
Hi,

In origen v1 the test node/suite model is lacking all of the information necessary to clone itself.  Many attributes are only passed through to the selected generator versus being stored in an object instance.  The advantage of native cloning is auto-generation of similar child tests such as characterization test nodes (e.g. vmin search of the parent test node).

regards

[2019-12-05 17:50] #1 closed

[2019-12-05 17:51] coreyeng commented on #12
Fixed in #14

[2019-12-05 17:51] #12 closed

[2019-12-05 19:15] coreyeng opened #16 "Create Rust model & Python interface for pins."

[2019-12-05 19:16] #16 closed

[2019-12-05 20:46] priyavadan commented on #13
@coreyeng do we need to add ctypes to be able to load the DLL?

[2019-12-06 14:00] coreyeng commented on #13
I think if it'll work at all, then yes, but I've tried using that library but it won't find anything in it. I've used various loaders available in `ctypes` but they all either fail to load or fail to find anything. I think part of it is that I'm trying to load a module and there may be some `init` or something that needs to be called, but I can't find anything on the `ctypes` docs about loading a

[2019-12-06 15:58] ginty commented on #5
This is helpful - https://stevedonovan.github.io/rust-gentle-intro/6-error-handling.html

[2019-12-08 22:42] ginty commented on #5
Summary of how Rust errors should be handled (from [this PR](https://github.com/Origen-SDK/o2/pull/17)):

Any errors generated by Rust should be piped all the way back to the Python API and allowing Rust to panic should be avoided.
A panic error message will mean nothing to the user and if we do our jobs right the only way for Rust to error will be when the user input is at fault in some way.

By

[2019-12-08 22:43] #5 closed

[2019-12-09 12:09] ginty opened #18 "Pattern generation internals"
In O1, a vector object was created in memory every time `tester.cycle` was called.
This object took a snapshot of things like the current timeset and the pin values and stored additional things like comments and microcode.
At the end of the pattern these vectors were rendered out to a file based on how the current tester liked to format them.

However, this vector object proved to be an unsatisfac

[2019-12-09 14:05] ginty opened #19 "Intermediate transaction representation"
#18 discusses an internal intermediate representation of pattern vectors, but I'm wondering if we should have similar (or expand that) for transactions?

O2 definitely needs to have as good a story on protocol aware type outputs as it does on vector level.
However, one of the things I've always struggled with a little bit with a pure transaction-level patterns is that there are often times when a

[2019-12-09 14:18] ginty commented on #19
Along similar lines, we should probably also put `StartRegAction` and `StopRegAction` actions into the list.
That would mean we could also easily support register-level downstream consumers in addition to specific protocols.

[2019-12-10 14:56] pderouen opened #20 "Crash on Windows when outside of workspace"
https://github.com/Origen-SDK/o2/blob/64e584707e8736df7107db8d0ffcfcfc639e8190/rust/origen/src/core/utility/logger.rs#L128-L131

The HOME environment variable does not exist by default in Windows.

[2019-12-10 15:10] coreyeng commented on #20
See `step 0` of the README, which addresses this. O2 isn't setting `HOME` if it doesn't exist, and I'm really not sure if it even should.

[2019-12-10 15:22] pderouen commented on #20
Could we not instead define a home equivalent if running under Windows? Most tools you use don't require environment variables to be setup. Windows can already point you to the current user's document folder (for example).

If possible, this time around, it would be great if functionality on Windows was seamless and "native" instead of Linux-ified. :)

[2019-12-10 15:24] ginty commented on #20
Also consider that if it can't work out a HOME then it should maybe log to the console only and emit a warning that it is not logging to a file because it can't work out what the user home dir is

[2019-12-10 15:32] pderouen commented on #20
Good point

[2019-12-10 20:02] ginty opened #22 "How should collections like pins, regs, sub_blocks be accessed?"
In O1 we had various ways of accessing items from a collection, e.g. for a reg I think all of these worked:

[code]

While that's quite nice from the pov of making whatever a user might guess have a good chance of working, I also think there's a lot to be said for Python's "one way of doing things" mantra and that perhaps removing all the aliases would make things less confusing to novice eyes.
I

[2019-12-10 23:54] coreyeng commented on #22
I agree, except I'm okay with having both a singleton and pluralized method name. For example:

[code]

I think its clear that `dut.reg` yields a single item and `dut.regs[]` is returning an object which is then indexed.

Python also has some 'close but not exactly the same' methods we can justify the above with. For example, if you do `{}["hi"]` you'll get a `KeyError`, but `{}.get("hi")` will re

[2019-12-11 10:39] ginty commented on #22
OK, that sounds good.

Just to clarify, this is what you mean for the missing item case:

[code]

That's quite nice and means that we don't need to add a `has_reg` and similar methods.

[code]

[2019-12-11 11:01] ginty opened #23 "Bang method equivalents"
Python does not permit bangs (!) and similar symbols in method names, so the O1 convention of appending a bang to a method name to make it take action will not be possible in O2:

[code]

How should we handle this in O2 with consistency across all similar APIs?

What about having it such that the APIs are not applied by default, then we have an `apply()` method:

[code]

It would be nice to also s

[2019-12-11 11:16] ginty commented on #23
From @coreyeng's comment here https://github.com/Origen-SDK/o2/pull/21#issuecomment-564367914, we could have the all these methods return self (which is generally nice for chaining, O1 sometimes did that but it would be nice to be consistent here), then we can have the 1-liners:

[code]

[2019-12-11 11:26] ginty commented on #23
I just realized that the proposal for how to represent vectors internally (https://github.com/Origen-SDK/o2/issues/18) implies a slight change in behaviour with regards to applying pin state and `tester.cycle`.

In O1, `tester.cycle` meant "apply all pins and advance time by one cycle", whereas in O2 it will only mean "advance time by one cycle".

I think that is better and brings consistency betw

[2019-12-11 12:07] info-rchitect commented on #23
@ginty I don't mind the apply if it is chained as it is absolutely clear in meaning.  I can also see the case for 'drive_and_apply' but perhaps syntactic sugar is round 2 after the API is fully up and running?

[2019-12-11 13:13] ginty commented on #23
I think it should be either/or and we should avoid multiple ways of doing the same thing.
I think the chained approach has clear advantages on the implementation side and is elegant on the user side, so that's the one that gets my vote.

[2019-12-11 13:14] info-rchitect commented on #23
Works for me.

[2019-12-11 14:00] coreyeng commented on #23
Kinda funny to think of us doing a 180 from Ruby. I'm so used to throwing everything I can think of into an API, which Ruby loved but which Python frown upon.

Anyway, is something like `reg.write(0).apply()` much different than what I have for pins now, which would be applied to regs as `reg.posture(0).write()`? I went with the latter since its clear that the data in the register is consistent ac

[2019-12-11 14:02] coreyeng commented on #23
Though as I was writing the above, I realized a 'syntatic sugar' method would be to combine the two... which then gets us right back to where we were in O1, except without the bangs... so maybe I'm not really solving the problem here.

[code]

[2019-12-11 14:17] pderouen commented on #22
I'd love to have the consistency across object types (pins, regs, etc). I recall being very confused about not being able to <code>pin.write</code> and <code>pin.read</code> (until the aliases were added).

I'm neither for nor against having multiple aliases for the same functionality. I like the simplicity of a single way to do it. But, I also see the value of allowing a different dialect like <c

[2019-12-11 14:21] ginty commented on #23
Yeah, I agree.

I do think though that we did pay a significant cost for supporting that within the framework and a significant number of bugs were caused by it. So I can appreciate the benefits we will see in simplifying the framework implementation by being stricter on what is allowed by the application.

I do like the idea of having a single method name (`apply()`) being used in all cases to ap

[2019-12-11 14:31] ginty commented on #22
@pderouen, funnily enough I was just thinking of that over on #23.
I think I would like us to try and aim for one method right now, rather than throwing in a bunch of aliases.
So think about whether it should be read/write, set/get, send/receive, etc....

[2019-12-11 14:32] coreyeng commented on #22
@pderouen Just a side note: we can't use `assert` in python as its a keyword, even as a member name. We might be able to get it to work in a hacky way through monkeypatching, but I think we'd want to avoid that.

I've got `verify` as "check the state now" because back when I was introducing O1 to some new users, they were getting confused by `read` meaning "check the state" vs "capture the value".

[2019-12-11 14:33] coreyeng commented on #22
I'd also say that I'm on board with reverting it if that's the consensus. Just something I threw in for now since as it occurred to me.

[2019-12-11 14:37] ginty commented on #22
This seems pretty self-explanatory:

[code]

[2019-12-11 14:41] coreyeng commented on #23
I think separating it out is clearer, and ultimately that's all I was trying to do with `posture`. I'm fine with the hybrid method. Its a bit more verbose but I think is very clear in what's going on. My worry would be someone later tries to merge the above (as @info-rchitect already tried with the syntatic sugar of `drive_and_apply`) which then gets us back to where we were before.

I like the hy

[2019-12-11 14:47] chrisnappi commented on #23
I think this looks good.  One thing that came up recently with O1 was the masking of pins in a bus.

So:
pin("porta").set_data(0x55).set_mask(0x0F).drive().apply()
and
reg("blah").set_data(0x1234).set_mask(0xF).write().apply()

?

[2019-12-11 14:50] ginty commented on #23
@chrisnappi, what effect would the mask have in those examples?

[2019-12-11 14:52] chrisnappi commented on #23
Set lower nibble to don't care.

[2019-12-11 14:52] coreyeng commented on #23
I think a problem with `set_mask` at that level is it's not clear that `write` won't be `or-ing` the data - a thing new users almost always mess up once or twice. I don't think we'd want to support a `set_mask` for the write operation at all. I think you'd be better off splicing in that case.

[2019-12-11 14:56] chrisnappi commented on #23
Sorry, copy paste error, I meant:
pin("porta").set_data(0x55).set_mask(0x0F).compare().apply()
and
reg("blah").set_data(0x1234).set_mask(0xF).read().apply()

[2019-12-11 14:57] pderouen commented on #18
So, would this be a 1 dimension array containing 1 action each? Or, would there be some organization of actions into a vector object?

[2019-12-11 14:58] ginty commented on #23
Should mask just be a argument to read/compare then:

[code]

Which also implies to me that it would be non-sticky, is that ok?

[2019-12-11 15:04] info-rchitect commented on #23
@ginty Will we support a sticky standalone mask function?

[2019-12-11 15:14] chrisnappi commented on #23
I think that will handle most cases.  I do think we will want some syntax for setting don't care/hi-z at the port level as well though.

For a register, I don't think it is common, but there are a few corner cases where register bits really can have an unknown value.

[2019-12-11 15:17] coreyeng commented on #23
Agree, especially when we start integrating OrigenSim. Granted that's a ways away, but should keep that in mind.

[2019-12-11 15:53] pderouen commented on #18
I guess based on https://github.com/Origen-SDK/o2/issues/19 it would have to be 1d to allow the flexibility.

[2019-12-11 15:59] pderouen commented on #23
I'm having trouble picturing what use it would be to set a pin drive state, but not have it rendered as an action when time is advanced.

[2019-12-11 16:12] ginty commented on #23
Yeah, me either tbh.

An alternative could be to make `apply()` only a method for registers and just have all pin write/compare calls simply [generate vector actions](https://github.com/Origen-SDK/o2/issues/18) immediately.

Even if a pin changed state a few times before the next cycle it should come out in the wash and the last update should win.

Though we're now getting in the debate of whether

[2019-12-11 16:14] ginty commented on #23
Just copying in this comment from #22:

This seems like a pretty self-explanatory choice of primary action methods:

[code]

[2019-12-11 16:22] pderouen commented on #23
<code>apply()</code> could still be meaningful for pins if it is interpreted to mean advance 1 time unit. That's how we used the bang method.

[2019-12-11 16:27] ginty commented on #18
It would just be a big 1D list.
It's not really a collection of vectors, or really any concept of a vector object. It is just the sequence of events that the pattern needs to play.
Each item in the list would be one action, and there could be multiple actions associated with each cycle/vector (which itself is an action).

Something like this (note that the nesting is in the formatting for readabil

[2019-12-11 16:38] ginty commented on #23
I think this is potentially confusing then though:

[code]

I think the bang carried less baggage with it with regards to its potential meaning. Calling it `cycle()` and calling that on a pin object doesn't feel right to me either.

Having cycle/advance time as its own function call should feel natural to users I think and I've seen many other tools do it that way, even though its a bit more verbo

[2019-12-11 16:42] ginty commented on #18
No reason why it couldn't be nested like that mind you, and probably some minor performance benefit to doing it like that when rendering a protocol-level output (easier to skip the pin actions).
Don't think we should mandate either way right now though, that can come out in the wash during implementation, i.e. if it's not too hard to do the nesting.

[2019-12-11 16:55] priyavadan commented on #23
to me for pins **dut.pin("tdi").drive(1)** is cleaner than **dut.pin("tdi").set_data(1).write()**

Similarly for registers, I would like to see something like **reg("reg1").set_mask(0xF).read(0x12345)**

It explicitly states
(1) I am driving pin TDI to 1
(2) I am setting a mask on reg1 and reading(0x12345)

[2019-12-11 16:59] priyavadan commented on #23
as far as advancing time for pins, `tester.cycle()` is okay and i like @ginty 's suggestion of  dropping the `apply()` and making that a register-only concern.

[2019-12-11 17:00] ginty commented on #23
@priyavadan, I think we need the concept of `.apply()` for the regs, do you agree or do you mean for the read to happen immediately in your example?

[2019-12-11 17:03] priyavadan commented on #23
yes, we need the concept of `apply()` for registers. There are times we will be setting up the register values and then apply the code once later in the workflow. Sorry if I was unclear.

[2019-12-11 17:21] coreyeng commented on #23
We'd need to be a bit careful with the return values for `read` or whatever if we add `set_mask` then. If `read` is kicking off the actual transaction then `reg.read(0x1234).set_mask(0xF)` wouldn't do the right thing.

We can still do that, just something to keep in mind. Are we also making `set_mask` sticky? If not, could use `with_mask` instead: `reg.with_mask(0xF).read(0x1234)`. I think this im

[2019-12-11 17:23] priyavadan commented on #23
@coreyeng I like with_mask, it makes it clear that only the current read is being done with the mask in place

[2019-12-11 17:25] pderouen commented on #18
This is probably beyond the scope of this discussion. but... Maybe there should be 1 or more parallel data structures to help easily locate where in this giant 1D array a particular type of action occurs. If I want to modify a previously generated vector like o1 allows, it would be good to have another smaller array that points to each cycle action (and it's associated count). That makes it quick

[2019-12-11 17:41] ginty commented on #18
The user wouldn't have access to this thing, so it will be much more hidden that maybe it appeared to (power?) users in O1.
The ability to retrospectively modify recent vectors was useful though.

Not sure about collecting into cycle groups though or having special tracking of cycles - the idea is that this action list is just as valid for a list of reg-level operations only as it is for a run tha

[2019-12-12 13:28] coreyeng opened #25 "Pin Lookups, Groups, and Aliasing"
Hello,

As I'm working on #21, I'm following pretty closely to what O1 does, but am wondering if there's any changes we'd like to make at this stage. For instance:

1. Do we want to separate `pins` vs. `pin_groups`? `Pins[name]`, implies to me that its a single object, and hence when I do `add_pin('gpioa', size: 5)` I get 5 individual pins added, not just a single pin group. Would it be better to

[2019-12-12 14:34] ginty commented on #25
(1) sounds good to me.

For (2) I think it should be a dictionary-like - i.e. behave mostly like a dict, but also be smart enough to seamless handle aliases.

I think it should behave like this:

[code]

I would expect `in` and so on to say `True` for `"p2"` also.

Anything else would make application code have to think about whether they were using the main ID vs. an alias, whereas the point of a

[2019-12-12 19:32] coreyeng commented on #25
What would you have just iterators, or just a 'grab all available' method do? I was thinking of returning (at first) just a pretty-print of a dictionary like Python does, but I think it'd be confusing if you see more stuff when you print it out than its length. Likewise, iterators could be a bit confusing as well. Should they iterate over everything? Or just unique pins? I could see a case for the

[2019-12-12 19:34] coreyeng commented on #25
To build a bit on `1)` too: I was planning to still require unique pin and groups names. That is, you couldn't have both a pin and pin group named `reset`, but you'd have to access it with the right method. Do you agree?

[2019-12-12 20:02] ginty commented on #25
Iterators should just iterate over the physical objects, so 2 items in the above example.
If it had a name component to it (equivalent to Ruby's `pins.each do |name, pin|`) then in that case the name should be the primary ID.

[2019-12-12 20:04] ginty commented on #25
Don't feel strongly one way or the other re. allowing matching pin and pin_group names, though if they are separate collections why would we block it?

[2019-12-12 20:21] coreyeng commented on #25
Okay. So you would keep all operations other than 'get' or 'in' then as only operating on physical pins? That makes sense to me.

For matching names for pin/groups, that just came from O1 behavior. Since they were stored the same object, we couldn't do that there. I think that `pins` and `pin_groups` is different enough to where someone shouldn't confuse `pins['reset']` with `pin_groups['reset']`.

[2019-12-12 20:56] pderouen commented on #25
I'm not sold on the forced separation of pins and groups of pins. They're really not so different. I think the separation is going to add needless complexity. Just thinking of something like the pattern_pin_order statement. Now, I have to interrogate 2 different objects for each item in the list to figure out which API to use? Aren't all of the underlying methods going to be practically identical

[2019-12-12 21:27] coreyeng commented on #25
They're different enough to where Rust has to treat them separately, which is why I brought this up, or else we risk just wasting memory space. Its probably not a big deal but early enough to start thinking about it.

Anyway, the two are different in some keys ways but, like you said, are alike as well. Its more a matter of if we want to explicitly show that you're accessing a pin vs. pin group. G

[2019-12-12 22:45] redxeth commented on #23
Would `dut_apply()` be more clear than `apply()` ?  Basically without `dut_apply` anything is register model or pin model only.  Or potentially we just use `_bang` at the end of methods but to me that's too similar to the O1 style. What do you think.

[2019-12-12 22:48] chrisnappi commented on #23
Don't like either of those options _especially_ not bang.  But I don't love apply either.  .execute ?

[2019-12-12 22:52] redxeth commented on #23
Yeah.. I debated even putting it.  How about `make_it_so` ala Star Trek ;-)

[2019-12-12 22:52] redxeth commented on #23
Or `engage` to be really nerdy

[2019-12-13 12:20] info-rchitect commented on #25
Can a pin have multiple aliases within the same scope/mode?

[2019-12-14 23:39] coreyeng commented on #25
Do you mean can you assign a pin to multiple aliases? Yes, that will still be allowed.

[2019-12-16 16:40] pderouen opened #27 "Bug when used for paths with spaces"
This code does not work when the command contains a path with spaces:

https://github.com/Origen-SDK/o2/blob/c4662b5fb677b4e7d265e71e89f0a17fbd9687ab/rust/origen/src/core/os.rs#L24-L26

According to this comment using <code>cmd /C command_to_execute</code> argument is "normally" not needed. But, I suppose we have a case where it is needed.
https://stackoverflow.com/questions/44757893/cmd-c-doesnt-

[2019-12-17 16:12] chrishume opened #28 "Expand register concept to support memory mapping"
Would like to add the ability to support memory maps.  Desired features:
- Define the size of a single chunk of memory (8, 32, 64, 128 bit).
- Allot a region of addresses to a defined purpose (0x0 - 0xFF = Test markers, 0x100 - 0x1FF = Die tracking), ideally with only needing to define the first and last address or first address and amount of data allocated.
- Support for reading/writing to the me

[2019-12-17 16:25] chrishume commented on #22
Late to the discussion, but is anything related to access mechanisms for reg/regs tied to how one can iterate on them?  I frequently have to iterate on a block's (and recursively through a block's sub-blocks) registers, but O1's nesting access for registers isn't very friendly to nested iteration (IMO).  It leads to this, instead of something direct like "regblk.reg(reg).address":

[code]

I'll ta

[2019-12-17 16:29] chrishume opened #29 "Add full IP-XACT list of register/bit access types"
Basically expand what's there already (RO, RW, WO, WONCE, RWONCE) to support the full list of access types that IP-XACT supports (20-something, IIRC).

I'll be glad to do the work for this, as I did it on O1.

[2019-12-17 16:48] ginty commented on #22
Hi @chrishume, is the problem that you are treating `regblk.regs` like an Array when it is actually a Hash, i.e. it should be:

[code]

I expect O2 to be similar in this respect, but perhaps better by being more consistent - sub_blocks, regs and pins will all behave like this, whereas I think that may not have been true for O1.
In O2 all collections will return something (a custom class) which beh

[2019-12-17 16:51] ginty commented on #29
Agreed, and in fact I think our goal should be that they are all modeled behaviorally too.

[2019-12-17 16:57] pderouen commented on #27
I'm working on this on the CmdSpaceBug branch. I'm able to get through installation of poetry now when running <code>origen setup</code>. But, the command string for <code>origen i</code> is getting setup wrong.

Error (quotes are being placed around " run python -c "):
<code>
'C:\Users\Paul Standard/.poetry/bin/poetry" run python -c "from' is not recognized as an internal or external command, ope

[2019-12-17 17:39] coreyeng commented on #27
I'm not a fan of [Rust's command builder](https://doc.rust-lang.org/std/process/struct.Command.html). The second line  states: `A default configuration can be generated using Command::new(program), where program gives a path to the program to be executed.`, and in the example on the page is where is the `/C` came from. Rust doesn't just run the commands as if you were at the terminal like every ot

[2019-12-17 18:16] pderouen commented on #27
Fair enough. I'm fighting through <code>origen i</code> at the moment. The <code>^</code> escape can't be a global fix. It will stop the interpreter from seeing a space as the divider between arguments. I think my issue with the interactive launcher is related to quote escapes.

[2019-12-17 19:00] pderouen commented on #27
I just re-read the issue thread in the rust repo https://github.com/rust-lang/rust/issues/29494

...it's been open for 5 years! I would assume that everybody who cares created a workaround using <code>CreateProcessW</code>, whatever that is, and then ignored the issue.

[2019-12-17 19:05] chrishume commented on #22
That's entirely possible, @ginty.  I'll mess around with it while doing the other updates (spec testing would be a good place to test the iteration) and see how things work.

[2019-12-17 19:07] chrishume commented on #29
I _think_ I did what was necessary to model them behaviorally on O1, but I don't know if I spec tested it.  I'll make sure they're modeled correctly on O2 and backfill to O1 if they're not already functional.

[2019-12-17 19:24] pderouen commented on #27
<code>CreateProcessW</code> doesn't seem to be documented anywhere. How about bypassing the underlying bug completely by dumping the command and arguments into a batch file and then running the batch file? The underlying bug is in the way Rust builds the final command string. There's no way to reliably escape the strings... and no way to stop Rust from trying to do it.

[2019-12-17 19:42] coreyeng commented on #27
I was _really_ close to doing that myself. I decided against it because I wasn't sure how well that'd go over. Creating and executing a `.bat` seems like a red flag. I think another option I looked into was setting an environment variable then executing from that. I think we could also dump contents to a Python file, then use that `.py` file as an argument.

The `\C` should treat everything after

[2019-12-17 21:32] pderouen commented on #27
I can't get the command string for interactive origen to work no matter how many escape characters I use. I can get the whole command to print when it errors out with this code:

<code>
arg.replace(";", "^;").replace(" ", "^ ").replace("(", "^(")
</code>

But, no matter what I do Rust is inserting some extra double quotes. I guess I'll look into <code>.py</code> file creation instead.

[2019-12-17 21:52] coreyeng commented on #27
My first thought on a `.bat` is that we should avoid it. If I was using something that was creating a `.bat` and running it, I'd be a bit skeptical of what it was doing and why that'd be necessary. But, maybe others have a differing opinion. It'd definitely work and could then can be used for more than just Python commands.

[2019-12-17 21:56] coreyeng commented on #27
I get the feeling that if we're having this much trouble with just a `python -c ...`, trying to automate, say, Git, will be painful and we might devolve to just using `python -c "import os; os.system(...')`. Rust does have some Git bindings but so did Ruby and we still had to wrap our own/extend what was already available.

DesignSync I doubt Rust would have a wrapper for.

[2019-12-17 23:12] pderouen commented on #27
I would say that we just should not support paths with spaces. But, all of the program binaries will live in a folder named <code>Program Files</code>. I think my current issue is a little extra complicated because the last argument passed to poetry has to be treated as 1 argument (which is 2 lines of python code). But, it's full of spaces semicolons and parenthesis. All of which can be delimiters

[2019-12-18 01:33] pderouen commented on #27
Well, I can beat it into submission if I dump the python code into a <code>.py</code> file and then execute it using a relative path. Is this good enough? If not, we may need to rethink the boot process, or trial and error our way into using <code>CreateProcessW</code>. I was able to locate it in the Rust source code. I couldn't easily tell how to use it.

For debug I'm putting the "launcher" code

[2019-12-18 13:27] ginty commented on #27
Are we just talking about the Powershell case here? If so then I don't mind what hack you need to come up with.
I would say that the proposal to use a single file called launcher.py is not going to work in an LSF or similar multiple-launch situation. Probably the filename needs a unique identifier and then maybe pass that into `__origen__` have that delete its launcher as its first operation.

[2019-12-18 16:45] #20 closed

[2019-12-18 16:58] pderouen commented on #27
We're calling the windows command shell (cmd) to execute. The root of the issue is with the way Rust builds the execution string. It's attempting to provide all of the window dressing needed so that the command line is interpreted correctly by Windows. But, it's not getting it right.

After thinking about this some more, I think we should hold off on implementing a hacky solution. I think in the e

[2019-12-18 18:24] pderouen commented on #27
Hey, a breakthrough:
![image](https://user-images.githubusercontent.com/17879450/71112428-12f14e00-2191-11ea-8e0f-3894bde37823.png)

The only problem is that it's also launching a new shell (probably because I ran it from within powershell).

[2019-12-18 22:55] ginty commented on #27
@pderouen your ability to persevere is second to none 👍

[2019-12-19 02:27] pderouen commented on #27
LOL... I think it's a disorder. I don't know when to quit.

I plan to expand our existing wrapper to handle booting origen from windows using that powershell string. I'm not happy about getting the new command shell window though. But, maybe it'll do until I figure out how to manually launch the process. I couldn't find the documentation on <code>CreateProcessW</code> because it's not part of Rust

[2019-12-19 17:11] chrisnappi opened #31 "Support enumeratedValues in registers"
IPXact supports bitfield enumerated values:
https://accellera.org/images/xmlschema/spirit/1685-2009/memoryMap.xsd
search for:
<xs:element name="enumeratedValues">

We should support this, so that we can do things like:
dut.reg(:clock_ctrl).bits(:clock_select).write(:osc_24mhz)

[2019-12-19 17:20] chrisnappi opened #32 "Discussion of register bit manipulation"
In O1 we added in the ability to manipulate bits fairly late in the game, and the syntax is a bit odd:

[code]

I think in O2 we should build in bit manipulation from the ground up which should hopefully lead to more natural mechanism.

[2019-12-19 17:30] info-rchitect opened #33 "Chip modes and their relationship with other base object types"
Hi,

O1 had chip modes that could alter the behavior/attributes of base objects like pins.  For example if the device or IP block goes into PCIE mode, some GPIO pins get their function changed (bad example but hopefully clear on intent).  I think these chip modes need to be thought of when architecting our base objects.

regards

[2019-12-19 17:33] info-rchitect opened #34 "Pin group creation with N args of varying types"
Hi,

I would like to see pin group creation API allow the following:

[code]

Where arg1 could be a pin name, arg2 could be an existing pin group, and arg3 could be a regular expression.

[2019-12-19 17:51] info-rchitect opened #35 "Translator for remote files"
We need a good test case for IP-XACT so I can write a Rust based XML importer that will first address the register API.  Here is an [article regarding some option](http://www.erahm.org/2017/05/24/a-rust-based-xml-parser-for-firefox/)s.  It seems like Rust does not yet have a fully featured XML parser so I will start a [Python importer](https://www.geeksforgeeks.org/xml-parsing-python/) for IP-XACT

[2019-12-19 19:35] info-rchitect commented on #35
![my_first_python_commit](https://user-images.githubusercontent.com/26782653/71203852-6aacb980-2264-11ea-9b56-b1c254949251.PNG)

It has begun!

[2019-12-20 08:49] ginty commented on #35
Here's a rust XML reader/writer here if you are interested - https://github.com/tafia/quick-xml

[2019-12-20 08:56] ginty commented on #35
After thinking about this some more, I'm not sure that this is so useful in terms of a Rust benchmark, but it is very important infrastructure nonetheless.

I think what this should be doing is importing the XML and writing out a [block dir structure](https://github.com/Origen-SDK/o2/tree/master/example/example/blocks).
That will naturally lazy-load at runtime and so should remain quick to boot ev

[2019-12-20 08:57] ginty commented on #31
Yes this will definitely be done, the data structure for it is already there - https://github.com/Origen-SDK/o2/blob/master/rust/origen/src/core/model/registers.rs#L124

Just need to come up with the appropriate API.

[2019-12-20 09:14] ginty commented on #32
I didn't think the O1 API was so bad, main thing that was weird to me was that it had write called in both the outer loop and the inner.

Maybe this gets us out of the struggles we were having with `apply()` over on #23.

We could have it that `write` and `verify` were always active methods (that invoked the register read/write) and that the only way to do multiple sub-bits were within a transacti

[2019-12-20 09:18] ginty commented on #33
I do see this as being useful, basically mode is an abstraction representing different chip configurations (or should we just call it configuration?).

Does anyone see any need for register behavior/attributes to change based on a configuration, or does this only apply to pins?

[2019-12-20 12:39] info-rchitect commented on #35
I think I will write a Rust and a Python version so we can compare and as a training exercise for me.

[2019-12-20 15:42] info-rchitect commented on #33
@ginty In o1 I used chip modes to change clocks and power domains using callbacks:

[code]

[2019-12-20 15:48] info-rchitect opened #36 "Parameter sets and specs modeling"
Hi,

We extensively use the parameter set API here, which acts like a dynamic multi-dimensional hash.  At FSL we used the spec model which is a 4-D hash.  I think we need both features but that the implementation should recognize that the spec model is just a parameter set with specific keys.

thx

[2019-12-20 15:59] info-rchitect opened #37 "Fuses and registers are cousins?"
All of these things can be accessed with an address and contain bit fields.  Should they use a common base object?

[2019-12-20 18:12] info-rchitect opened #38 "Master is throwing an error when running 'interactive' command"
[code]

[2019-12-20 20:09] ginty commented on #38
Did you compile the Rust extension?

[2019-12-20 20:30] info-rchitect commented on #38
@ginty thx, I swear I had done that.

[2019-12-20 20:30] #38 closed

[2019-12-21 10:39] ginty commented on #28
Yes this sounds good.

See https://github.com/Origen-SDK/o2/pull/39, which adds some preliminary memory map and address block features which I think will be the building blocks for this.

Potentially a memory map would be your chunk of memory and then address blocks would be your defined regions.
While you can define registers within address blocks, I envisage also being able to treat the whole ad

[2019-12-21 22:41] coreyeng commented on #34
This should all be doable. [Using single pins](https://github.com/Origen-SDK/o2/blob/pins/example/tests/pin_api_test.py#L91) is part of #21, but I haven't tried regexes.

[2019-12-21 22:49] coreyeng commented on #37
I think so, but I'm not sure that any of us have experimented with OO in Rust. I tried at first but its easy to get burned by the borrower checker if you're not careful. Possible though.

To add on a bit, I think we should have a base `dict-like` or `list-like` structure. I'm going to build on #21 after its merged, but I think we should aim for anything accessible like that to share a common inter

[2019-12-24 15:32] info-rchitect commented on #37
👍

[2019-12-27 20:47] ginty commented on #37
What info/functionality would a fuse need over and above a register?
Why could a register not be used to model a fuse?

[2019-12-28 10:58] ginty commented on #36
It never felt to me like specs were ever properly defined in O1, so that same issue currently exists in 02.
If we can specify what attributes a spec should have then adding them should be fairly straight forward after that.
Does anyone know about any 3rd party std we could leverage/rip-off for that?

[2019-12-28 12:13] info-rchitect commented on #37
@ginty I think the register model could be used.  How would we work around the lack of method/function aliases?

[2019-12-28 12:22] info-rchitect commented on #36
@ginty Can you elaborate on the miss-modeling in O1?  I am not committed to using the exact same nomenclature but having the concept of the following is needed based on using the O1 model at two different workshops:

1. Symbol/ID
2. Type (e.g. DC/AC/Thermal)
3. Mode (could default to being global)

We also had a sub-type that was necessary though I can't dig up any examples right now.  Seth and I

[2019-12-28 12:23] info-rchitect commented on #37
BTW, I ended up using Componentable for our internal fuse modeling

[2019-12-28 12:26] ginty commented on #37
For example?
Are we just talking about a preference of using `my_fuse.program(0x1234)` instead of `my_fuse.write(0x1234)` or something more?

[2019-12-28 12:30] info-rchitect commented on #37
@ginty I thought I read a post somewhere in the o2 area that Python doesn't support method aliases.  I was thinking of how can we make this equivalence while using the same Rust infrastructure?

[code]

[2019-12-28 12:36] ginty commented on #37
I'm not sure if does support an equivalent of Ruby's `alias_method` or not, but at the very least you can do:

[code]

I can imagine that we would support `fuses.py` in the `blocks/` dir which would implement methods like `SimpleFuse` and `Fuse` [like their reg equivalents](https://github.com/Origen-SDK/o2/pull/39), but these would just instantiate reg objects internally.

[2019-12-28 12:38] info-rchitect commented on #37
Works for me, thx!

[2019-12-28 12:40] info-rchitect opened #41 "Adding new Python code and unit tests documentation"
Hi,

Could someone write up a quick doc on how to add new Python code and unit tests?  I know I can figure it out but if we have a working methodology then publishing it will make things more consistent and help new contributors.

thx

[2019-12-28 12:46] ginty commented on #36
Maybe its just my lack of familiarity with it.
I've just noticed that we have a doc page on it which I never realized until now - https://origen-sdk.org/origen/guides/models/specs/

If that's valid then I would propose we just implement `specs.py` in `blocks/` that covers the API from that guide, is that all we need?

[2019-12-28 13:00] info-rchitect commented on #36
Yes that guide is what the internal schema modeled.  My only question that still remains is how/if a 4-D spec model could be integrated into a future parameters set implementation?  Is a chained multi-dimensional parameter set API possible in Python?  The O1 spec model used a code block implementation similar to other base O1 objects, with specific named attributes versus the parameter set impleme

[2019-12-28 13:16] ginty commented on #36
Well, this is reminding me of why I think this stuff was never really specified properly in O1.
If you want to see something like this you are going to have to specify how it should work. Forget about worrying about what is possible in Python for now, just define the API that you wish you had and then we can worry about how to implement it later.

I am less worried about whether "a chained multi-d

[2019-12-28 13:17] info-rchitect commented on #36
OK then let's use the O1 guide and see what develops.  I just thought the parameter set API was so important to most Origen users that it was must-have going forward.

[2019-12-28 13:20] ginty commented on #36
Well that's a quick cop-out!

[2019-12-28 13:23] info-rchitect commented on #36
@ginty I really don't know what you mean.  The O1 spec model is clearly defined as evidenced by it being used with its own XML schema.  The purpose of this issue was just to highlight that if we plan to continue to support parameter sets in O2 that the spec API could create parameter sets versus rolling a unique class of objects.

[2019-12-28 13:28] info-rchitect commented on #41
I can do this as soon as the register model is merged as I need a test case.  The same need is required for Rust additions.

[2019-12-28 13:30] ginty commented on #41
I've assigned this back to you, please add a wiki page to document your experience.

I think the key points from what is there already is:

- Adding new code to the origen module/namespace is simply a case of adding a new file to https://github.com/Origen-SDK/o2/tree/master/python/origen
- An application will already have that origen directory in its load path and from there normal Python rules fo

[2019-12-28 13:33] info-rchitect commented on #41
@ginty will do

[2019-12-28 13:35] ginty commented on #36
Well, your exact words were:

I interpret that to mean that we need something over and above what O1 can do, so I ask you to specify it clearly.
At that point it sounds like the requirement has gone and the current O1 feature set is all we need.

[2019-12-28 14:48] info-rchitect commented on #35
Is there a recommended API nomenclature for importing external file formats we want to use at the Python level?

[code]

[2019-12-30 20:20] info-rchitect commented on #35
@ginty Should the translator be instantiated upon application boot?

[code]

Second question is should we use some sort of delegation to reserve a 'translate' method that the translator would always handle for the application?

[code]

[2019-12-30 21:25] ginty commented on #35
I quite like the cuteness of automatically detecting the file type, but we definitely don't need that. So just implement a user driven IP-XACT selection for now, and then we can add an auto-detecting method on top later.

I don't think so. I don't think we should support a import operation invoked from application code - that is proven to not scale and just results in people building apps that can

[2019-12-31 12:44] info-rchitect commented on #35
Discussion moved to [this PR](https://github.com/Origen-SDK/o2/pull/42)

[2019-12-31 14:40] coreyeng commented on #34
Hi. I prototyped a basic use case [here](https://github.com/Origen-SDK/o2/blob/master/example/tests/pin_api_test.py#L805-L819). I only added it for `collections` at the moment. I want to give using [traits](https://doc.rust-lang.org/1.8.0/book/traits.html) a try and see if I can get some basic reuse going to support groups as well.

A few quick notes:

* Python doesn't support the `/.../` regex li

[2019-12-31 15:03] info-rchitect opened #45 "Address block attributes"
I am working on the remote file translator, specifically on IP-XACT currently.  I don't see a way to model some of the address block attributes such as `range` and `width`.

[code]

Is this on the TODO list?

[2019-12-31 15:08] info-rchitect opened #46 "Python source files/directories usage model"
Hi,

We had a consistent pattern in o1 where we made a file named `mycode.rb` and also made a directory `mycode` that contained supporting Ruby files.  Do we plan to follow this usage model in o2?

thx

[2019-12-31 16:24] info-rchitect commented on #29
Why does the register use a different `access` nomenclature than the bit field?

[code]

[2019-12-31 17:35] chrishume commented on #29
I believe it's because the register isaa conglomeration of different bit
field access types.  A register can qualify as ReadWrite because it
contains a mix of ReadOnly and WriteOnly bits.

On Tue, Dec 31, 2019, 10:24 AM info-rchitect <notifications@github.com>
wrote:

[2019-12-31 17:37] info-rchitect commented on #29
Thx Chris.  I guess I just wondered why it didn't use `rw`?

[2019-12-31 17:56] info-rchitect opened #47 "regs.keys() is not deterministic"
Hi,

Here is my unit test:

[code]

The last unit test will toggle between passing and failing when poetry is restarted:

[code]

Shouldn't this access be deterministic?

[2019-12-31 19:14] info-rchitect commented on #46
[This commit](https://github.com/Origen-SDK/o2/pull/42/commits/443a424ae929a917d4bb81eca49d870973041c7c) shows to implement relative imports similar to o1

[2019-12-31 19:54] info-rchitect commented on #46
Added a [wiki](https://github.com/Origen-SDK/o2/wiki/Python-Relative-Import)

[2019-12-31 20:35] info-rchitect commented on #41
[done](https://github.com/Origen-SDK/o2/wiki/Python-First-Commit)

[2019-12-31 20:35] #41 closed

[2020-01-01 12:05] ginty commented on #45
Yes, I think the API will be:

[code]

[2020-01-01 12:08] ginty commented on #46
Note that `__init__.py` is not required for this to work as our minimum version of Python or above.

You only need that if you wish to do some initialization operations the first time the given module is imported.

[2020-01-01 12:40] ginty commented on #47
Yeah, agreed we should fix this.
What would you want/expect to be returned, I guess we could do either:

- In definition order
- In alphabetical order
- In address order

[2020-01-01 13:22] ginty commented on #47
Looks like there is a crate that could help here - https://github.com/bluss/indexmap

That would make it behave like Ruby's hash - the keys would be returned in original insertion order.

[2020-01-01 14:47] coreyeng commented on #47
Whatever the decision is here, we should do the same for pins. Currently, I'm using a [set compare](https://github.com/Origen-SDK/o2/blob/master/example/tests/pin_api_test.py#L353-L356) in the tests to bypass ordering. Where order matters (like in collecting pins from a regex), I'm using lexicographical ordering, as mentioned in #34.

It doesn't really matter to me what we go with but I think we s

[2020-01-01 17:30] info-rchitect commented on #47
Whatever we use should be natively supported by the serde crate IMO

[2020-01-02 12:41] ginty opened #50 "Use of Python 3.8 syntax"
Master currently uses syntax only available in Python 3.8 and above (`:=`) - https://github.com/Origen-SDK/o2/blob/master/python/origen/controller.py#L13

However, O2 is otherwise configured as Python 3.6 to be the min version.

I originally chose 3.6 as the min version since that is the version installed by default in Ubuntu's latest LTS version (18.04), so that seemed to strike the right balance

[2020-01-02 15:50] ginty commented on #47
@info-rchitect please confirm this is fixed by master and then close, thanks.

[2020-01-03 13:35] info-rchitect commented on #47
@ginty master works, ty

[2020-01-03 13:35] #47 closed

[2020-01-03 13:36] info-rchitect commented on #46
fixed

[2020-01-03 13:36] #46 closed

[2020-01-03 14:24] info-rchitect opened #54 "Parameter set API default behavior change wrt O1"
Hi,

The O1 parameters API would not completely work if a `default` set was not created.  You could access any parameter set but running `dut.params` errors out if the `default` set is not created.  I propose we put no such limitation in O2.

thx

[2020-01-03 16:15] chrisnappi opened #56 "Register model should support base addresses, slots, and slot size. Sub-blocks should be able to reference."
O2 should support the concept:

- Hierarchical memory maps - SoC high level description of memory areas
- Base addresses - the address at which a block of registers for particular IP
- Slot size - the default and over-ridable size of a block of registers
- Slot - the position of a base address for a peripheral in a memory map

Example:
Peripheral memory map begins at 0x4000_0000, UART is in slot 8

[2020-01-03 17:36] info-rchitect opened #57 "o2 web docs"
Hi,

This is a placeholder for the solution that generates web docs similar to o1.  [Here is a blog](https://medium.com/@peterkong/comparison-of-python-documentation-generators-660203ca3804) on Python doc solutions from our old DN friend Peter Kong.

On the Rust side there is [rustdoc](https://doc.rust-lang.org/rustdoc/what-is-rustdoc.html).  Ideally we would need a solution that can generate for

[2020-01-03 18:05] info-rchitect commented on #56
@chrisnappi Using the IP-XACT example from O1, which XML tag references sub-blocks?

[2020-01-03 18:11] info-rchitect opened #58 "Export file structure of to_python method"
Hi,

Can we clearly define the file structure created for a future `to_python` method?  This info will also be helpful when also making the associated `to_rust` method.  In O1 we only output pins, packages, sub_blocks, and registers.  We had no concept of memory maps or address blocks IIRC.

thx

[2020-01-03 18:18] chrisnappi commented on #56
Right now at least, there is no direct mapping.  In O1 we typically have separate XML files for each register bank, and then each O1 sub block instantiates them.

I think going forward while we should still allow for this model, we also need the ability to build the SoC memory map separately and then have the sub_block just claim ownership of an address space at the time of instantiation.

So at s

[2020-01-03 19:44] ginty commented on #58
Do we have an example IP-XACT we can refer to?
If you or @chrisnappi can provide something then it would be easier to define what should be produced from it.

[2020-01-03 19:45] info-rchitect commented on #58
https://github.com/Origen-SDK/o2/blob/translator3/example/vendor/ip-xact/spirit1-4_ip-xact.xml

[2020-01-03 20:14] info-rchitect commented on #35
Will re-open new PRs for specific types of import/export as needed

[2020-01-03 20:14] #35 closed

[2020-01-03 20:21] ginty commented on #58
I was thinking of a more elaborate/real life example, but basically a component in IP-XACT is an Origen block.
So that example would just generate a single block (a sub-directory in `<app>/blocks`) containing a register file like https://github.com/Origen-SDK/o2/blob/master/example/example/blocks/dut/registers.py

[2020-01-03 20:27] info-rchitect commented on #58
So it wuld be `example/vendor/blocks/dut/registers.py`?

[2020-01-03 20:31] info-rchitect commented on #58
@ginty Also, do we need to have a sub-dir specifying `python` or would we potentially mix Python and Rust exported files in the same directory?

[2020-01-03 20:41] info-rchitect commented on #58
@ginty Also, what will the API to connect sub-blocks to memory maps and address blocks look like?  I believe we don't currently have a way to create a memory map and address block within a sub-block.

[2020-01-03 20:49] ginty commented on #58
Yeah, pretty much.

I think we might also add special handling for blocks which are DUTs (top-levels) vs. those which can be instantiated within a DUT, maybe the user will need to supply `dut=true` or similar at import-time.
We should follow what is done in `example/blocks` which is that all top-levels are below `blocks/dut`.
So in this example (with the block also called 'dut') it should be `exam

[2020-01-03 20:55] ginty commented on #58
This is creating memory maps and address blocks within a sub-block.
Say your example really contained two components, `blk1` and `blk2`, then you would be creating:

- `example/vendor/blocks/blk1/registers.py`
- `example/vendor/blocks/blk2/registers.py`

Each containing their respective memory map and address blocks.

If there was a hierarchical relationship between them (and I'm kind of assuming

[2020-01-03 21:10] info-rchitect commented on #58
Thx @ginty for the explanations.  Are the derivatives essentially a 1:1 map to an eventual target?  Should the export also create target files?

[2020-01-03 21:16] ginty commented on #58
Yes, and yes you could also create a corresponding target file.

[2020-01-03 21:25] info-rchitect commented on #58
So I could choose not to make objects in memory and write directly to file and then load the files to make the objects in memory

[2020-01-03 21:31] ginty commented on #58
Sure, and that's how I envisaged this would go originally.
However, I think the current path of implementing a `to_python()` has a significant advantage - which is that you take care of how to write out the files once, then all other importers from other formats can leverage that in future.
i.e. I think it is easier to build up the model in memory and then call `to_python()` on it, vs. writing out

[2020-01-03 21:50] info-rchitect commented on #58
Ok so to make everything modeled in memory first, don't we have to enhance the API to allow memory maps to connected to sub blocks or visa versa?

[2020-01-06 10:52] ginty commented on #58
I think you might be right, I was thinking that #52 would give you the way to programmatically join blocks together, however I see now that this only provides a way to link up an existing blocks (i.e. those that already exist in the file system).
So yeah, something else is required, will try to add it soon.

[2020-01-06 11:02] ginty commented on #58
Another thought I've been having on this is that maybe we should have a `to_toml()` output and this could replace both Python and Rust outputs.

I did some quick bench-marking the other day of how register instantiating 20,000 registers compared in O2 vs O1 and O2 actually came out a bit slower (~3.5s vs. ~1.5s).
I suspect that this is not a reflection on Rust and that the bulk of the time is used

[2020-01-06 12:36] info-rchitect commented on #58
@ginty I think I will complete all 3 formats so we can have proper benchmarking and be fully informed when we choose a direction.

[2020-01-06 12:41] info-rchitect commented on #58
Yeah the API does need some work **IF** one wants to use nested code blocks to add everything (which is the best way in the long haul IMO).  However I think I could use this pattern for now.

[code]

[2020-01-06 12:43] info-rchitect commented on #58
@ginty Not to throw a spanner in here (think that is correct usage) but could this make us reassess a Python only solution?  Not trying to ditch Rust but would like to hear your thoughts on why Rust makes the most sense in the long haul.  This is a question more for my edification rather than a serious proposal on my part.

[2020-01-06 14:22] ginty commented on #58
I don't think the fact that register definition/instantiation is currently slower is a reflection on the overall performance we should expect. Also note that O1 was seriously optimized in this area, while O2 is barely a couple of months old, though it does already have lazy-loading of sub-blocks and register files which make this benchmark case of importing 20K regs at once not really realistic.
A

[2020-01-06 15:06] info-rchitect opened #62 "fusesoc python project"
https://github.com/olofk/fusesoc

Seems like it is further upstream than where Origen plays but wanted to share it as it is Python and it does integrate with IP-XACT.

[2020-01-06 15:15] info-rchitect commented on #62
A nice [blog entry](http://olofkindgren.blogspot.com/2016/11/ip-xact-good-bad-and-outright-madness.html) on IP-XACT

[2020-01-06 16:08] ginty commented on #56
I think a some of this e.g. 4KB slot sizes, maybe even the term 'slots', are high-level concerns which may belong more in domain plugins rather than in Origen itself.

Currently O2 is following the IP-XACT hierarchy in its modelling which does give you a lot of layers to play with:

[code]

So these slots could be modeled in a number of different ways and your domain importer would be making the d

[2020-01-07 14:20] info-rchitect opened #65 "pytest versions of before_all, after_all, etc"
Hi,

I think we should standardize how we implement the pytest versions of `before_all`, `after_all`, etc.  There are quite a few opinions on how best to setup pytest, [here is one of them](https://docs.pytest.org/en/latest/goodpractices.html).

regards

[2020-01-07 19:51] info-rchitect opened #67 "Should we have a command that consolidates these shell commands?"
[code]

If so, does anyone have a name in mind?  I am assuming this new command would go [here](https://github.com/Origen-SDK/o2/tree/master/rust/origen/cli/src/commands).  If the consensus is to create this command I will self-assign.

[2020-01-07 22:30] ginty commented on #67
Not sure if that's exactly the right sequence of commands, but in principle this would be a good thing to work on.

You should make it like another level of operations, such that we have global commands, in app commands, and now Origen workspace commands.
So the CLI should somehow detect that it is in an Origen workspace, then we can open up a build command, test command, release command, etc.

[2020-01-07 22:32] info-rchitect commented on #67
@ginty Just to be clear on verbiage, is 'example' an app within an O2 workspace?

[2020-01-07 22:38] ginty commented on #67
Yes, commands specifically for a workspace for this repo

[2020-01-07 22:42] ginty commented on #67
Does this help?

[code]

[2020-01-08 10:43] info-rchitect commented on #67
What fixed file(s) should I use for determining when I am in an O2 application and when I am in an O2 core workspace?  I know there are quite a few to choose from, just looking for suggestions.

[2020-01-08 10:45] ginty commented on #67
You could just check in a file to a make life easy for yourself, `.this_is_an_origen_core_workspace`, for example.

[2020-01-08 12:30] info-rchitect opened #69 "Compiler/Templater"
Hi,

So we got no ERB equivalent in Python so we need to go 3rd party.  Here is what I have found so far:

- [Mustache](mustache.github.io/)
- [Jinja](https://jinja.palletsprojects.com/en/2.10.x/)
- [Mako](https://www.makotemplates.org/)

In general solutions like Mustache would make the compiler much less powerful vs Jinja and Mako that can execute conditional Python.  Perhaps it really just come

[2020-01-08 12:34] info-rchitect commented on #69
A nice read [here](https://www.fullstackpython.com/template-engines.html).

[2020-01-08 12:47] info-rchitect commented on #69
There is also this [Rust version based on Jinja](https://github.com/djc/askama)

[2020-01-08 12:54] info-rchitect commented on #57
[Sphinx support via Rust](https://lib.rs/crates/cargo-sphinx).

[2020-01-08 13:36] ginty commented on #69
I think it has to be done in Python rather than Rust since it is key that the template has access to the application variables (which will be in Python).

To have something on a par with O1 it looks like Jinja2 and Mako are the main contenders.

Personally, I prefer the look of Mako - it looks more equivalent to what we got from ERB. That is, you basically write any Python you like in your templat

[2020-01-08 14:01] coreyeng commented on #69
From my experience, Jinja2 is a bit more popular. Its the default templating (and built by the team) for [Flask](https://www.palletsprojects.com/p/flask/) (Closest alternative to Ruby's Sinatra) and I've seen it used a lot with Django.

Though, I think both have Mako plugins available, but just from a popularity perspective, I think Jinja2 might have an edge.

FWIW, I've used Jinja2 in my Flask ap

[2020-01-08 14:12] info-rchitect commented on #69
Why couldn't we support both?  The compiler could detect the syntax of the compiled file and route it appropriately.

[2020-01-08 14:23] coreyeng commented on #69
We definitely could, but the nature of the question made it seem (to me) like we (as the core team) should agree on some standard so at least the stuff we write all looks similar. If that wasn't the purpose, we should probably discuss that since having half of O2's core templates in Jinja2 and the other half in Mako doesn't seem like a good thing.

From the end user perspective, they should always

[2020-01-08 14:24] info-rchitect commented on #69
We should pick one for internal usage.  But for user/app specific templates do we care?

[2020-01-08 14:30] coreyeng commented on #69
We care in that we can expose a frontend/optimize supported templating systems and have them natively built in. For example, supporting Jinja2 ourselves would mean we'd bring in the dependencies, and the `compile` method would support it out of the box.

Problems can arise when something internal calls `compile` with given arguments that aren't exposed to the user. In Ruby (and in Python) we can m

[2020-01-08 16:09] ginty commented on #69
I agree on consolidating on one tool, and that Jinja2 is the most popular.

I don't have a strong opinion either way, I have never used Mako either, though I have used Jinja2 in the past.

What I liked from Mako (just looking at the website briefly today) is that it seems to be pure Python that you write in the template.
So it's similar to ERB and the template-specific syntax you need to know is r

[2020-01-08 19:02] info-rchitect commented on #69
This might be the deciding issue:

Mako: Supports Python 2.7 and Python 3.5 and above

Jinja2: Jinja 2.7 brings experimental support for Python >=3.3. It means that all unittests pass on the new version, but there might still be small bugs in there and behavior might be inconsistent. If you notice any bugs, please provide feedback in the Jinja bug tracker.
Also please keep in mind that the documen

[2020-01-08 19:04] info-rchitect commented on #69
@ginty would these sort of utilities need to be installed as a bin-stub?

[2020-01-08 20:09] info-rchitect commented on #69
@ginty Where should unit testing templates be stored?

[2020-01-08 20:55] info-rchitect commented on #69
Nevermind

[2020-01-09 10:25] ginty opened #71 "Database organization"
Currently the Rust database is organized under one entity, the DUT.

When adding registers recently this proved to make things very tricky when trying to deal with two immutable collections at the same time - adding a new register and the bits for that register.
Ultimately I made it work, but the code could not be organized as I would have wanted it and life would have been much easier if I could

[2020-01-09 13:36] coreyeng commented on #71
I think if we can get interior mutability to work it'd be cleaner in the long run. Keeping track of and cleaning up statics may be tricky if we start going multi-threaded. And if we're using static variables, we could introduce the static lifecycle again which would allow us to store references to these static variables instead of using an ID lookup table. Not that the lookup table is inefficient,

[2020-01-09 19:38] ginty commented on #58
Just to update this thread - I realised that I should probably try O2 compiled with Rust's `--release` option when benchmarking and with that change applied, O2 now instantiates the 20000 regs in ~0.5s vs O1's 1.5s.
That isn't even a like for like comparison - O1 just instantiates a placeholder and materializes a register with bit instances on demand, whereas for O2, this is the time to fully inst

[2020-01-15 12:10] info-rchitect opened #74 "Sub-flows features"
Hi,

This is an issue regarding sub-flows features.  Here are a couple items that have come up:

1. Should we continue to reload the target by default as in O1?
2. When a sub-flow is imported multiple times, users would like to be able to name the generated groups using options

Feel free to add on.

[2020-01-15 19:43] redxeth commented on #74
Good idea-- also some additional features that we have needed at various times in O1 related to sub-flows (maybe we're not meaning the same kinds of sub-flows-- but will throw this out there):

- Easy way to get pattern name in the flow itself
- Easy way to get flow or sub-flow file name in flow itself-- this would be handy so when later looking at a generated test flow you can FIND where the test

[2020-01-15 19:48] redxeth commented on #57
Just to add something here:   In O1 we often had issues with the web docs not keeping up with reality.  There were great docs and examples, but often I'd find myself having to dig through code to figure out what all options there were in the API.    It seemed that a lot of the good manually-generated documentation was done as part of release notes or in pull request info.  It should be carried ove

[2020-01-15 20:02] redxeth opened #75 "Pattern Atomization"
(Originally this was an RFCS branch I had started 2 years ago, but it didn't go anywhere, partly because it's such a fundamental change, that it makes much more sense to bring it up here as we consider this new Origen.  Forgive the ruby code below, but you get the idea of what is desired, I can rewrite if it would help)

# Summary
Add the ability to define pattern 'atoms' in pattern source code in

[2020-01-16 17:22] ginty commented on #56
@chrisnappi, do it!

[2020-01-16 17:51] ginty commented on #50
Agreed to stick with Python 3.6 as our min version

[2020-01-16 17:51] #50 closed

[2020-01-16 19:02] info-rchitect commented on #57
https://www.mkdocs.org/

https://heinventions.github.io/docnado-site/

https://www.getlektor.com/

https://getnikola.com/ (supports jinja and mako)

[2020-01-16 19:16] info-rchitect commented on #57
@ginty Can you take a stab at the directory structure where all of the markdown and generated site files live?

[2020-01-16 20:48] redxeth opened #76 "Develop an API for the register model to permit post-import updates"
Often the register models generates from importing registers XML (or other) source are not complete for the needs of test.   It could be that a register is used both in user mode and test mode, but is defined in XML only in test mode, or the format of a pin changes, or there is data or value tables missing that need to be added.

Work done on this before has been very 'hack-ey' in nature, or you o

[2020-01-16 20:52] redxeth commented on #76
Enumerated values in registers per https://github.com/Origen-SDK/o2/issues/31 I suspect will be one of those things not always in the source-- so should be something that can be added after import.

[2020-01-16 21:13] ginty commented on #76
How else are you thinking we should handle this?

[2020-01-16 21:16] redxeth opened #77 "Register model to support dirty/clean concept"
To support Pattern Atomization (Issue https://github.com/Origen-SDK/o2/issues/75), we will need the register model to be able to support having clean vs dirty data.

**Clean** or **Freeze**
The original value in the register at the start of a 'pattern atom' (section of pattern that can be broken apart into partial patterns).  Or the value that we want to eventually come back to, but want to tempor

[2020-01-16 21:41] redxeth commented on #76
Some way to modify only part of the register instead of having to overwrite the reg.

Examples used on exisiting projects (mind the ruby)
[code]
which could be due to the fact that now we're in test mode.  This is a very hack-ey way to change the bitfield writable flag.

But I had another case where there was a typo in the XML so had to add the entire register again with the correction, can't find

[2020-01-16 21:50] redxeth opened #78 "Register model support for SET, CLR and INV registers?"
On many SOCs there are these convenience SET, CLR, INV registers that server to help modify individual bits of another 'real' register.     Often times these are clearly defined in the XML (or other source) already but the issue was that in Origen(1) the register don't work as intended.

i.e.
[code]

[2020-01-17 13:05] ginty commented on #78
Not sure about this one, its getting into the realm of modelling the external effects of register changes which is generally beyond the scope of what Origen can do - obviously there's a million and one other ways that writing a given register can cause changes in another register that we don't model.

This could be handled in the application's main `write_register` method. Where it would be on the

[2020-01-17 16:05] redxeth commented on #78
I get that.  Just had direct experience on another project with this and thought would bring it up for discussion.  Would like to know @chrisnappi 's thoughts.

[2020-01-17 17:03] ginty commented on #77
Definitely we should support this.

I would propose a more explicit API...

We should generally track whether a register has changed since its last reset, something like:

[code]

And then we should have another API to take snapshots and rollback:

[code]

Though not shown here, the snapshot would apply to all bit attributes (read flag, overlay str, etc), not just the data.

This stuff is all goin

[2020-01-20 10:46] ginty commented on #77
Thinking about the implementation some more, I think this will implemented at bit-field level and not at individual bit level as noted above.
So you will be able to do `my_reg.snapshot` or `my_reg.my_bits.snapshot`, but not on some arbitrary collection of bits - i.e. you can't do this: `my_reg[7:0].snapshot` or `my_reg.my_bits[2:0].snapshot`.

I will assume that will be OK unless anyone says other

[2020-01-30 16:22] chrisnappi commented on #56
Agree that if we implement the IP-XACT hierarchy we are covered for 'slots' as this is just a way to describe base and end addresses and that can be done at a higher level if desired.

I like the idea of having the vendor directory be a more standardized structure with generated models.  As far as the addressing goes, unfortunately I think it is going to have to be flexible.

For clarrification, n

[2020-01-30 17:53] ginty commented on #78
Here's the current reg definition API:

[code]

How would we expand that to describe this behavioral linkage between registers?

[2020-02-05 11:18] ginty opened #81 "Register mask/enable methods"
What should the polarity be for masking? I think I got this wrong for O1 and want to make sure that I get it right for O2...

Say we have a method called `my_reg.read_mask()` where the intention is to return a value where a 1 or 0 indicates whether a specific bit is enabled for read or not.

What should a 1 mean when returned from such a method?

Should we have methods named `mask()` and `enable_m

[2020-02-05 13:52] chrishume commented on #81
On the design side, a mask value of 1 usually means let the but through for
read/write.

On Wed, Feb 5, 2020, 5:18 AM Stephen McGinty <notifications@github.com>
wrote:

[2020-02-05 13:53] chrishume commented on #81
Bit, not but.  Phone autocorrected me.

On Wed, Feb 5, 2020, 5:18 AM Stephen McGinty <notifications@github.com>
wrote:

[2020-02-05 14:47] pderouen commented on #81
I think of it the opposite way (set mask = 1 to enable masking, disable reading, block the operation). But, I can make sense of the other way as well.

Really what we're typically using the mask to do is enable or disable comparisons for the data contained in the bit. Would <code>compare_enable</code> or some other variation work?

[2020-02-05 15:46] ginty commented on #81
Yeah, I think we should stay away from `mask` then as it can obviously mean different things to different people.
`enable` is fine, or also flags, `my_reg.read_flags()`, `my_reg.capture_flags()`, etc.

[2020-02-05 16:36] chrishume commented on #81
Agreed. Enable removes the ambiguity.

On Wed, Feb 5, 2020, 9:46 AM Stephen McGinty <notifications@github.com>
wrote:

[2020-02-07 14:37] info-rchitect commented on #69
Similarly featured compiler when compared to O1 implemented [here](https://github.com/Origen-SDK/o2/pull/70)

[2020-02-07 14:37] #69 closed

[2020-02-07 14:58] ginty commented on #69
Hi @info-rchitect,

I think there are still some more features required before we can call the O2 compiler feature complete - the main ones being support for sub-templates (with layout capability if possible in Python) and it would be good to formalize how/where helper functions should be written (something that O1 was weak on).

Should we open separate tickets for these additional items?

Basical

[2020-02-07 15:00] info-rchitect commented on #69
@ginty yes separate tickets

[2020-02-13 17:25] ginty commented on #15
Bump

[2020-02-13 18:06] info-rchitect commented on #15
Here is what I see in the V93K test suite in O1:

[code]

Here are some attributes I think we need that I could not figure out how to store in a single test node object in O1:

- Binning (hardbin, softbin, test number, is_binnable?)
- Can it be characterized?
- Does it need alarm checks?
- Pattern burst (is that covered by `pattern`?)
- Company metadata (is that covered by `meta` or is `meta` only

[2020-02-13 18:56] coreyeng commented on #11
Travis has been setup and seems to be stable now for Python and Rust regressions (granted we don't have many rust regressions) and across Python version 3.6, 3.7, and 3.8 for both Windows and Linux. I think that's enough to close this. Please either reopen or start a new ticket for additional CI-related stuff.

[2020-02-13 18:56] #11 closed

[2020-02-13 18:57] coreyeng commented on #3
I think this has been added in #70 and can be closed?

[2020-02-13 18:58] coreyeng commented on #7
Basics are there and there's a few other tickets floating around for additional features. Closing this one.

[2020-02-13 18:58] #7 closed

[2020-02-13 19:02] coreyeng commented on #25
I think everything here has hit in the pin API. There's a scope are mentioned, but that wasn't the crux of this issue and I think is mentioned in another ticket.

[2020-02-13 19:02] #25 closed

[2020-02-13 19:04] coreyeng commented on #34
Grouping via regexes has been added and has accompanying regressions.

[2020-02-13 19:04] #34 closed

[2020-02-13 19:44] coreyeng commented on #15
I think all that seems pretty straightforward. Might want to also build something into the generators for what attributes they can support. For example, I don't think the J750 has built-in alarms, so maybe some way of knowing that and throwing up a warning would be nice.

Regarding the company metadata, I think it'd have to go in `meta`. I'll look into how we can build that into the Rust side. Rig

[2020-02-13 20:50] coreyeng commented on #13
After looking into this on and off for the last month or two, there really doesn't seem to be a good solution. Python exports and expects and `.pyd` and although we _could_ force the issue, I don't think we should really fight with Python.

I think the solution instead is to provide a build script as this as one of the steps.

[2020-02-13 21:02] coreyeng opened #84 "Advanced Timesets"
Currently, timesets support the very basic `name/period`, but also some more intricate hierarchies of wavetables, wave groups, waves, and events for more complex modelling. [See specs for what's currently supported](https://github.com/Origen-SDK/o2/blob/master/example/tests/timing_test.py).

O1 doesn't really have anything extra. Some features I'm going to go back and add as time allows:

* Waveta

[2020-02-13 21:05] coreyeng commented on #84
I guess O1 does have min/max period allowances/checking. Is that something we'd like to add here to? Wouldn't be too hard to do but not sure if its really used. Its not used by my group at all.

[2020-02-21 10:22] ginty commented on #3
Yeah, I think it can be closed, though still has some features missing e.g. list decomposition.
I'll add specific tickets for that, thanks!

[2020-02-21 10:22] #3 closed

[2020-02-21 10:29] ginty opened #85 "Add list and directory file argument support to the CLI"
[This method](https://github.com/Origen-SDK/o2/blob/master/rust/origen/src/core/file_handler.rs#L50) should be enhanced to open up files named `*.list`.
Similarly all "files" should be checked to see if they are directories and if so they should be opened up too. Both directories and lists can contain references to other lists/dirs and this should operate fully recursively,

Lists reading should s

[2020-02-21 10:35] ginty opened #86 "Add origen.config["output_dir"]"
The output directory should be added to the `origen.config` dict.
This should default to `output/` if undefined.

It should be added here in Rust - https://github.com/Origen-SDK/o2/blob/master/rust/origen/src/core/config.rs

And exposed to Python here - https://github.com/Origen-SDK/o2/blob/master/rust/pyapi/src/lib.rs#L54

[2020-02-21 10:36] ginty commented on #81
Went with `my_reg.read_enables()`, `capture_enables()` and `overlay_enables()`.

[2020-02-21 10:36] #81 closed

[2020-02-21 10:38] ginty commented on #6
The internal model is based on IP-XACT.

[2020-02-21 10:38] #6 closed

[2020-02-21 10:41] ginty opened #87 "Add compiler support for sub-templates"
Basically all the features per the O1 guide should be supported - https://origen-sdk.org/origen/guides/compiler/subtemplates/

[2020-02-21 11:15] ginty commented on #15
I think this approach/mindset is fighting against the way O1 is designed.
Maybe this is indicating that O2 should be more designed around the concept of a test object though, not sure.

O1 is expecting that if you had two tests, one with cz and one without, then you would define it twice in the flow.
That is some duplication, but it is expecting that the amount of variables you pass from the flow

[2020-02-21 12:50] info-rchitect commented on #15
@ginty thx for the thorough thoughtful feedback.  Perhaps I can show our implementation in O1 in detail at the next meeting and we can see the best way forward?

[2020-02-24 14:58] ginty commented on #15
@info-rchitect, yes let's do that at this weeks' meeting.

[2020-02-24 15:48] ginty opened #88 "Target system changes"
This is a proposal to modify the target system to improve it in the following areas:

- Allow it to have multiple testers to be selected at once to support outputting multiple different formats at once.
- Make it possible to have more than 2 layers of target vs. O1 which only supports 2 layers - the 'target; and the 'environment'
- Drop the name 'environment' since some users have reported confusi

[2020-02-24 16:48] ginty opened #89 "Dynamic configs"
In O1, `config/application.rb` supported config attributes being made dynamic by assigning the given attribute to a block.

Currently in O2 the equivalent file is now a TOML file (i.e. static) and I do like the simplicity of that.
On the other hand, it was definitely useful to have some dynamic capability in O1, however I think that was mainly used for setting attributes, like the output directory

[2020-02-24 17:59] coreyeng commented on #88
This all looks good to me. I don't mind taking this item since it goes along with #83.

[I do already have something like this](https://github.com/Origen-SDK/o2/blob/tester_prototype/example/tests/tester_test.py#L201), if you wanted to see this idea in action.

[2020-02-24 18:05] coreyeng commented on #89
I had some dynamic settings for Windows vs. Linux. Options for the maillist and such, but were mostly unrelated to the generation process.

FWIW, Python does also have [config files built into the stdlib](https://docs.python.org/3/library/configparser.html) (available post 3.5 I think). I'm fine with TOML, but the `configparser` is I think closer to what we had in O1.

[2020-02-25 09:01] ginty commented on #88
@coreyeng, please feel free to pick this up, thanks!

That's good you already have similar under origen.tester.target so would be good to give these the same look and feel.

[2020-02-25 09:08] ginty commented on #89
The current O2 implementation uses this Rust config parser, which seems to be very similar in capabilities and features - https://docs.rs/config/0.10.1/config/

I don't propose changing that here and the configs would be resolved with the embedded Python still in place.

Though as I write this now, I'm wondering if embedded Python is the right thing, maybe it should be more like a C macro system s

[2020-02-25 18:41] coreyeng commented on #89
Do you think the actual parsing could be frontend implemented and the dynamics only being computed when needed? The TOML can be given to the Rust side as just raw strings and when an attribute is needed the frontend can compile it in whatever it chooses? May be unnecessary backend-to-frontend handshaking though for most cases.

[2020-02-26 17:38] ginty commented on #32
So, I couldn't do it exactly as I have it above, but this what we have working:

[code]

Not the prettiest, but that's Python for you I'm afraid and difficult to see how to make it much better.

Note that opinions are closed anyway @chrisnappi after not providing any thoughts on the original proposal :-)

[2020-02-26 17:42] chrisnappi commented on #32
That looks good.  To me it is much more clear than the O1 syntax.  Sorry but I hate '!'.

[2020-02-26 17:54] ginty commented on #32
Ah OK, wasn't sure exactly what you were objecting to in the O1 version.
I do agree actually, and I think O2 will be much clearer without the "!" and from separating the data setting from the operation request.

[2020-02-26 17:56] chrisnappi commented on #32
Yeah, we had many cases of people putting additional '!'s inside the 'do' - which caused very subtle wrong behavior...  Thanks!

[2020-02-28 12:04] ginty opened #90 "Patgen Dev Discussion"
This ticket is for discussing the patgen dev notes here - https://github.com/Origen-SDK/o2/wiki/Patgen-Dev-Notes

[2020-02-28 16:41] pderouen commented on #90
I'd propose that we start by taking a closer look at the AST node tree constructor source. The meat of the AST builder along with the struct type that I was intending to make available through the public static lives in src/core/pattern/collector.rs

There are 3 structs defined in that file:

* Collector - This is a Vec of AstNodeId's, iterating through a collection will give you the nodes in the

[2020-02-28 17:15] ginty commented on #90
Hi @pderouen, I did have a look at that earlier today and I kind of imagined a lot of that would still be used as the internal API behind the comment:

i.e. I think these are too low-level for something like the driver-space to worry about.

NodeCollection is pretty much a direct mapping to `TESTS::master_nodes` and `stage_nodes`; we have to re-home that for long term storage once Python comes int

[2020-02-28 17:26] coreyeng commented on #90
Hi @pderouen I'm not following why we need both a `collection` and `collection stack`. It seems like the `collector` could be linearized since we'd process one `collection` before moving on to the other. Or is it just for organizational/appending purposes?

Hi @ginty, from the notes:

I do, but I can chuck all that out. Going from a 'hacker' to 'real software developer' mindset, I agree that we sh

[2020-02-28 17:48] pderouen commented on #90
@coreyeng I'm not opposed to removing the Collector struct. It is just a Vec of ASTNodeID. I'm trying to remember why it exists... probably I wasn't sure how to Vec of Vecs and got lazy.

@ginty I started off in the direction of placing new nodes directly into the child collection and don't recall why I moved away from that. I think the point where I changed my mind was when I was trying visualize

[2020-02-28 17:49] pderouen commented on #90
...ASTNodeID is just usize:
https://github.com/Origen-SDK/o2/blob/775c2cd16dff389e5b36c55c3e602b060fc1adf3/rust/origen/src/core/pattern/ast_node.rs#L6

[2020-02-28 17:52] ginty commented on #90
Hi @coreyeng, I think that's probably OK.

I think saying that nodes are immutable was really just a statement of intent that we shouldn't be planning for these things to be passed around and modified.
The AST creation should be thought of as making a formal recording of what the frontend asked for and in that capacity it should never need to be modified.
In fact, things like supporting a modifica

[2020-02-28 17:59] ginty commented on #90
@pderouen, just so we are tight on language/meaning here, the new nodes would not be placed into the child collection, all nodes would be placed into the (master or current stage) nodes vector.
Their ID would be placed into the child collection.
We probably mean the same thing, but just to make sure!

Yeah nested transaction-type nodes will definitely occur a lot, but that should all resolve corre

[2020-02-28 18:23] coreyeng commented on #90
And if you have the power to do that, then you also have the power to modify it anyway, so such optimizations will be possible/allowed.

Okay. In that case the nodes themselves could be immutable, but not the AST itself. I think I substituted `AST` for `nodes` in my head and got off track. Thanks for clearing that up!

[2020-02-28 18:59] pderouen commented on #90
Yeah, we mean the same thing.

[2020-02-28 22:53] ginty commented on #77
In the end, this API is available on any bit

[2020-03-02 02:40] pderouen commented on #90
In order to get the node that is currently collecting children and add a new node id to it's child collection, I have to use an exhaustive match. The ASTNode is an enum struct. There has to be an arm for every node type just to do "x.children.push(nid)". There's probably a way to do it more concisely (maybe Traits? Beyond my current level of Rust-fu)… I don't know. But, in changing it to pushing t

[2020-03-02 09:16] ginty commented on #90
Hi @pderouen, can you elaborate on where the match is required?

Is it to find x?

If you had x's ID, does this not work?:

[code]

[2020-03-02 14:13] pderouen commented on #90
That code (as far as I can tell, I'm no expert) has to be more like this (this code won't compile because of borrowing, but you get the idea):

<code>
let parent = nodes[parent_nid];  // this has to be a mutable borrow
// I haven't been able to get the syntax sugar to make x also a mutable borrow quite yet
match parent {
    ASTNode::RegisterAction(x) => { x.children.push(nid) },
    ASTNode::PinA

[2020-03-02 14:16] pderouen commented on #90
wow, formatting failed me on that comment

[2020-03-02 14:52] pderouen commented on #90
Seems like <code>Trait</code> is the most promising way to un-overly-verbose the operation. I will see if I can sort it out.

[2020-03-02 15:00] ginty commented on #90
Is this just an issue with mutating fields?
Could you read the children field without this carry on?

e.g. say we stored the children as an ID, could you read it like this?:

[code]

[2020-03-02 15:29] pderouen commented on #90
No, anytime you fetch a node you have to match on it's type to perform any operation with it (unless Traits can bail us out).

What is the base reasoning for making this change? Is it to get away from popping the Vec of children ID's into the owning node? A simple way to accomplish the same thing may be to have a parallel Vec of children for every node and allow fetching of the children using the

[2020-03-05 15:04] ginty commented on #90
@coreyeng, the new AST system is coming along nicely and I thought I would try this case just to see how it performed.

This thing is going to be fast!

[code]

So it took ~0.6s to create 1M cycle nodes, all from Rust in this case, so maybe it might be double that or so if invoked from Python, but would still be pretty quick considering the underlying work invovled.

Then I've made a simple proces

[2020-03-06 03:10] coreyeng commented on #90
Looks good! Just to play devil's advocate, do we gain anything by not compressing as we go? And is the cycle compression one of the first, or the first, processors? I'd think compressing them first would speed up subsequent processors.

Looks like O2 will be quite fast though!

[2020-03-06 09:50] ginty commented on #90
Hi @coreyeng, I would probably advocate for compressing as we go. I was mainly curious to see how long a walking/transforming stage would take when faced with a big AST and I also wanted a simple case for building an example processor - this example seemed to tick both boxes.

I don't think compressing as we go will save much time mind you, at the end of day it will still have to do 1M AST updates

[2020-03-10 12:10] ginty commented on #77
This is now available in master, API as above.

[2020-03-10 12:10] #77 closed

[2020-03-10 12:10] ginty commented on #32
This is now available in master, API as above.

[2020-03-10 12:10] #32 closed

[2020-03-10 12:13] ginty commented on #9
This is done and available in master

[2020-03-10 12:13] #9 closed

[2020-03-10 12:14] ginty commented on #19
O2 patgen will use a full AST representation which will support cycle-level and PA outputs being generated from the same AST.
See this PR for details - https://github.com/Origen-SDK/o2/pull/92

[2020-03-10 12:14] #19 closed

[2020-03-10 12:16] ginty commented on #18
O2 patgen will use a full AST representation which will support cycle-level and PA outputs being generated from the same AST.
See this PR for details - https://github.com/Origen-SDK/o2/pull/92

[2020-03-10 12:16] #18 closed

[2020-03-10 18:17] redxeth commented on #77
@ginty Cool!  Let me give it a shot...

[2020-03-12 17:51] ginty opened #93 "Add jinga2 template support to the compile command"
As discussed, let's support templates in both `.mako` and `.j2` format.

[2020-03-16 22:01] ginty commented on #90
Final solution implemented in #92

[2020-03-16 22:01] #90 closed

[2020-03-31 14:17] ginty opened #97 "Remote app execution mode"
As you know in O1 Origen has two ways of working:

- Globally, outside of an app workspace
- App mode, inside of an app workspace

It has already been discussed elsewhere that for O2 we will probably add a 3rd:

- Origen development, which would open up some commands related to building/deploying/testing Origen itself (more useful in O2 due to the multi-lang env)

And now I would like to discuss t

[2020-03-31 14:37] coreyeng commented on #97
While were talking about the CLI, do you think it will remain in Rust long term? In O1, we had the ability to add/extend commands from the application or (eventually) plugins which isn't really possible considering the CLI is now compiled. We could wrap in some interface into the Rust side, but then we'll need to fill in a lot of the things `clap` does for us, like the command organization, and `h

[2020-03-31 16:17] ginty commented on #97
Hi @coreyeng,

Definitely the CLI should stay in Rust, I'm 100% opposed to making Origen boot dependent on a working Python environment - that was painful and bad PR for O1 in many cases and nothing I've seen from Python suggests that it is going to be better at that than Ruby.
There are also a number of potential use cases where Python shouldn't be required at all, format conversions being the ob

[2020-03-31 16:47] coreyeng commented on #97
Thanks! I was putting off doing much with #88 (or the CLI in general) because I wasn't sure how the it would look in the end. If we are keeping it in Rust that narrows it down quite a bit. I really like the `clap` crate too. Its really powerful and pretty easy to work with.

That `external command` looks promising though! I obviously missed that during my own research (admitting, I didn't put much

[2020-03-31 18:34] ginty commented on #97
Hi @coreyeng, OK cool and if you're interested in working on the app command system please just go ahead - I'm not too fussed and will find other things easily enough.

[2020-03-31 18:44] coreyeng commented on #97
Hi @ginty, Okay! I look into that a bit. Big thing was knowing that we won't be moving the CLI into the frontend so I can go from there. Thanks!

[2020-04-26 13:23] pderouen opened #101 "CLI issue"
Now that I can reliably launch origen inside the example app, I tried the generate command. I'm not sure if it's user error or another bug similar to #27. I tried 3 different ways.

[code]

[2020-04-26 17:43] pderouen commented on #101
The issue (I think) is centered around the Windows folder separation character being the same as the escape character.

The file list is read by the CLI correctly and passed to the python launcher correctly, and then passed back to the core Rust code incorrectly (note "\" changed to "\\", except for "\t" in "\toggle";  "\t" is getting turned into a tab character):

[code]

I can get further along

[2020-04-26 17:55] pderouen commented on #101
A simple fix would be to change the folder separator characters to the unix style "/" from the CLI before calling Python. Would a global replace of all "\\" into "/" for files introduce problems?

[2020-04-26 18:48] coreyeng opened #102 "Additional Pattern Generation Items"
Hello,

Opening this to track what items we need and what's currently being worked on with regards to pattern generation. Some items may overlap with program generation but, at least in my case, I'm more focused on patterns than programs at the moment.

Currently, all I have in the near-term is:

* Add pattern headers
* Add pattern dispatcher
* Add opcodes/microcode support

Feel free to add any o

[2020-04-26 18:51] coreyeng commented on #101
There is no pattern dispatcher, so you need to give it the path.

The screwiness though is due to the roundabout trip from Python, to Rust, then back to Python again. The "\" get escaped on the first Python to Rust boundary, Rust then treats it all as raw string, then when it tries to send it back to Python, Python doesn't know what to do with a string with bunch of escape characters that aren't e

[2020-04-26 22:43] pderouen commented on #101
Ok. I'm perfectly fine using linux style paths.

[2020-04-26 23:57] pderouen commented on #13
@coreyeng did you look into cargo scripts at all? I only briefly looked. Seems like it's Rust code that gets compiled and run to customize the build process.

[2020-04-27 09:55] ginty commented on #102
Could we use the term pattern finder, I think that's what you mean, right? i.e. origen g some_pat and then it goes and finds it in a pattern directory?

Using the term pattern dispatcher will be confusing, since on O1 that means destructuring a pattern name into controller method calls/args.

[2020-04-28 04:32] pderouen commented on #101
The bug can also be fixed by prepending the file string with r to force the python interpreter to treat the file strings as literals instead of trying to process escape characters. See #100

[2020-04-30 01:38] #27 closed

[2020-05-01 23:15] pderouen commented on #101
fixed in #100

[2020-05-01 23:15] #101 closed

[2020-05-02 12:22] pderouen opened #105 "Mechanism for tester to define the .as_tester_char() mapping?"
Is there already a plan for providing a way for the tester to set the mapping from pin action to vector character? The pin state tracker <code>.as_strings()</code> method calls the pin actions <code>.as_tester_char()</code> method which has a fixed mapping.

https://github.com/Origen-SDK/o2/blob/5d443d7552d71c7438a9cfc9e3513afc627db65c/rust/origen/src/core/model/pins.rs#L741

https://github.com/Or

[2020-05-04 01:59] coreyeng commented on #105
Yes. A lot of the currently hard-coded stuff was just to get the pattern renderer off the ground. The `to_string` of the pin states shouldn't be used for anything more than debug long term, or to provide a base starting point. Ideally, the pin state rendering would be in the [tester trait](https://github.com/Origen-SDK/o2/blob/master/rust/origen/src/core/tester.rs#L342-L356). For only supporting V

[2020-05-04 12:50] pderouen commented on #105
I am working on uflex pattern generation. I can take the task of adding a mapper method to the api trait.

[2020-05-04 12:53] #105 closed

[2020-05-21 08:35] ginty opened #109 "Road to v1"
This is an evolving list of some of the big items required to get us to a v1 release and roughly feature parity with O1.

[2020-07-24 02:36] coreyeng opened #115 "Doc System Updates Post-PR"
Hello,

This issue contains some of the leftover items from PR #..., which should be fixed, but isn't critical. Feel free to pile on more items here as needed.

Thanks!

* Add archive support for the Origen version.
* Support releasing via Git.
* Fix spacing in generated nested list. See an example [here](https://origen-sdk.org/o2/guides/documenting/reference.html#sphinx-guides).
* Fix side bar sc

[2020-07-30 16:35] priyavadan opened #117 "discuss multiport support in O2"
discuss multiport support in O2

[2020-08-14 14:55] ginty opened #119 "Doc includes not working"
Hi @coreyeng,

When generating either the O2 guides or the web site for an app I get errors like this due to the common shorthand includes not being found:

[code]

For the O2 guides this ultimately leads to a failure to generate because various shorthand references end up undefined.

I've verified that the include directive is being generated correctly:

[code]

I think the problem is that this i

[2020-08-28 23:16] coreyeng opened #122 "Doc-Documentation Lapses & Inadequecies"
Hello,

@ginty has done some great work on making the Origen pages more aesthetically pleasing. This is also shows though that the doc generator seems to be working now (after some bumps that'll be merged soon).

I did provide a lot of content originally but there are still some lapses and confusing bits floating around that I didn't catch. I opened this ticket specifically to enumerate where thes

[2020-09-03 12:53] #119 closed

[2020-11-02 17:53] coreyeng opened #129 "Jtag should support "read while write" transactions"
JTAG can support reading the DR's current value while shifting in new data for another write transaction. The JTAG driver should support this as well.

[2020-12-08 18:39] priyavadan opened #132 "support for IEEE 1500 STAC networks"
https://ieeexplore.ieee.org/document/1271086/

[2020-12-15 19:13] info-rchitect opened #133 "Any interest in a python web scraping solution?"
Hi,

I wrote a python web scraper for finding valid links.  Any interest in putting this somewhere in the O2 python common code?

thx

[2021-05-31 21:46] coreyeng opened #138 "Releasing Origen Core"
Hello,

I'm working on the release process for the core itself. I got it working well on Windows and moved on to trying to automate it so I can get a Linux build (more on this in a minute) but I can't trigger manual workflows on a branch. In retrospect, I could've temporarily made it on a push or something, but I the changes themselves are small and other than the update to Poetry 1.1.6, there's n

[2021-06-01 12:51] coreyeng commented on #138
Small update: WSL v1 issues was due to an out-of-date PIP version. Bumped up the version and it worked fine. Had some other fixes, but things seem to be working well for me on Windows 10 and WSL v1, both with Python 3.8.

[2021-06-21 22:58] coreyeng commented on #138
Hello. As I'm getting closer to getting the publishing stuff ready, I've got a few points we can discuss, as there'll be no going back for some of them:

1.   Authors, @ginty, you and I are listed as the authors for various pieces. It's kinda funny as you will be "package author" now, but O2 docs page had me as the author - likely just due to whoever created the initial project ended up there. My

[2021-06-21 23:01] coreyeng commented on #138
Tagging some of you just to make sure you see this. :p

@ginty, @pderouen , @priyavadan, @chrisnappi @chrishume, @redxeth I think this is everyone that's been in the last few meetings we've had.

[2021-06-22 13:12] pderouen commented on #138
Thanks @coreyeng, I don't have a strong opinion on any of your points for discussion. I am fine with moving forward with your defaults.

[2021-08-17 07:59] ginty commented on #138
Hi @coreyeng, this all sounds good to me, sorry for not replying sooner.